* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
aside {
  height: 100vh;
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
aside nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
aside nav ul li {
  
}

aside nav ul li a {
  padding: 15px;
  background-color: #D9D9D9;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
  
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 800;
  
  color: rgba(black, 0.5);

  text-decoration: none;
}

aside nav ul li div {
  background-color: #525252;
  color: #FFF;
  fill: #FFF;

  border-radius: 5px;
  width: 35px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: calc(100% - 400px);
  overflow-y: scroll;
  height: 100vh;
  padding: 40px;
}


/* DASHBOARD SCREEN */
.dashboard-screen {
  .evolucao-patrimonial {
      grid-column: 1 / span 3;
  }

  .categoria-patrimonial {

  }
}


/* DASHBOARD DIVIDENDOS */

.dashboard-dividendos {
  width: 100%;
  background-color: #D7D7D7;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  background-color: #F4F4F4;
}

hr {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  margin: 20px 0;
}

.MainContainer {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.025);
  padding: 25px 30px;
  border: 1px solid #E3E5E7;
  border-radius: 10px;

  > h4 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 800;
  }

  > span {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 200;
  }

  > p {
      font-size: 10px;
      font-weight: 500;
  }
}
/* INPUT */

input, select {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: rgba(32,32,32,0.4);
  background-color: rgba(32,32,32,0.1);

  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

label {
  margin: 10px 0;
  display: inline-block;


  color: rgba(32,32,32,0.5);

  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
}


/* BUTTON */


button {
  cursor: pointer;
  background-color: #EAEAEC;
  padding: 5px 10px;
  border: 1px solid black;

  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s all;

  &.confirm-button {
      background-color: rgba(#238443, 0.9);
      border: 1px solid rgba(#238443, 0.9);
      color: #EAEAEC;
      transition: 0.3s all;
      &:hover {
          background-color: saturate(#EAEAEC, 5.5);
          border: 1px solid saturate(#238443, 5.5);
          color: #238443;
          transition: 0.3s all;
      }
  }

  &.cancel-button {
      background-color: rgba(#EAEAEC, 0.9);
      border: 1px solid #EAEAEC;
      color: black;
      transition: 0.3s all;
      &:hover {
          background-color: #EAEAEC;
          border: 1px solid #EAEAEC;
          color: black;
          transition: 0.3s all;
      }
  }
  &.delete-button {
      background-color: rgba(#F62447, 0.9);
      border: 1px solid #F62447;
      color: #EAEAEC;
      transition: 0.3s all;
      &:hover {
          background-color: #EAEAEC;
          border: 1px solid #F62447;
          color: #F62447;
          transition: 0.3s all;
      }
  }
  &:hover {
      background-color: black;
      border: 1px solid black;
      color: #EAEAEC;
      transition: 0.3s all;
  }
}

.positivo {
  color: #24AB21 !important;
}

.negativo {
  color: #C03A3A !important;
}

/* TABLE */

/* Estilizando a tabela *//* 
table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  
  border-spacing: 5px;
  border-collapse: separate;
  border: none;

  thead {
      font-size: 11px;
      color: rgba(black, 0.4);
      font-weight: 700;
      text-transform: uppercase;
  }

  tr {
      border-radius: 10px;
      margin-bottom: 1px;
      background-color: #DCDCDC;
      border-spacing: 1px;

      th {
          font-size: 12px;
          color: rgba(32,32,32, 0.4);
          font-weight: 600;
          text-transform: uppercase;
          border-radius: 5px;
          text-align: center;
      }

      td {
          font-size: 12px;
          color: rgba(32,32,32, 0.6);
          font-weight: 700;
          text-transform: uppercase;
          border-radius: 5px;
          text-align: center;
      }
  }
}

table th,
table td {
  padding: 15px 10px 15px 10px;
  text-align: left;
  
}

table th {
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4)
}

table td {
  color: rgba(32, 32, 32, 0.5);
  font-size: 10px;
  font-weight: 700;
}

table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

table tr:hover {
  background-color: #e0e0e0;
} */

/* TABLE */

/* Estilizando a tabela */
table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-radius: 5px;
  overflow: hidden;

  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.025);
  border: 1px solid #E3E5E7;

  thead {
      font-size: 11px;
      color: rgba(black, 0.6);
      font-weight: 700;
      text-transform: uppercase;
  }

  tr {
      border-radius: 10px;
      margin-bottom: 1px;
      background-color: rgba(0, 0, 0, 0.02);
      border-spacing: 1px;

      th {
          font-size: 12px;
          color: rgba(32,32,32, 0.6);
          font-weight: 700;
          text-transform: uppercase;
          
          text-align: center;
      }

      td {
          font-size: 12px;
          color: rgba(32,32,32, 0.4);
          font-weight: 500;
          text-transform: uppercase;
          
          text-align: center;
      }
  }

  
}

table th,
table td {
  padding: 10px 5px;
  text-align: left;
  
}

table th {
  background-color: #FFFFFF;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4)
}

table td {
  color: rgba(32, 32, 32, 0.5);
  font-size: 10px;
  font-weight: 600;
}

table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

table tr:hover {
  background-color: rgba(0, 0, 0, 0.08);
}


/* PÁGINA ATIVO */
/* Página */

.info-top-ativo {
  display: flex;
  justify-content: space-between;

  .label-ticker {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #7B7B7B;
    color: #FFF;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
  }

  .label-name-ticker {
    font-size: 14px;
    font-weight: 300;
    color: #7B7B7B;
    display: inline-block;
  }

  .valor-medio-ticker {
    font-size: 48px;
    font-weight: 700;
    color: rgba(32,32,32, 0.9);
    display: inline-block;
  }

  .variacao-medio-ticker {
    font-size: 14px;
    font-weight: 500;
    
    background-color: rgba(36, 171, 33, 0.25);
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
  }
}



/* Tabela de Info do Ativo */
.info-ativo {
  display: flex;
  justify-content: space-between;


  table {
    width: 100%;
  
    border-collapse: collapse;
    border: none;

    thead {
        font-size: 10px;
        color: rgba(black, 0.4);
        font-weight: 700;
        text-transform: uppercase;
    }

    tr {
        border-radius: 10px;
        margin-bottom: 1px;
        border-spacing: 1px;

        th {
            font-size: 10px;
            color: rgba(32,32,32, 0.4);
            
            text-transform: uppercase;
            text-align: center;
        }

        td {
            font-size: 11px;
            color: rgba(32,32,32, 0.5);
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            
            span {
              color: rgba(32,32,32, 0.9);
            }
        }

        td:first-child {
          width: 50%;
          text-align: left;
        }

        td:last-child {
          width: 50%;
          text-align: right;
        }
    }
  }


  table th,
  table td {
    padding: 15px 10px 15px 10px;
    text-align: left;
    
  }

  table th {
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4)
  }

  table td {
    color: rgba(32, 32, 32, 0.5);
    font-size: 10px;
    font-weight: 700;
  }

  table tr:nth-child(even) {

  }

  table tr:hover {

  }
}


/* Tabela de Info do Ativo */
.sobre-ativo {
  hr {
    background-color: rgba(82, 82, 82, 0.2);
  }

  .sobre-ativo-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    span {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.4);
      display: block;
    }
    h4 {
      font-size: 16px;
      font-weight: 800 ;
    }
   
    
    .icon {
      background-color: #525252;
      width: 50px;
      height: 50px;

      border-radius: 5px;
  
      -ativo-razao {
        
      }
    }
    
  }

}









aside {
  background-color: #5E6C81;
  .sidebar-icon {
      background-color: #5E6C81;
      transition: 0.3s all;
  }

  nav ul li a:hover{
      color: rgba(0, 0, 0, 1);
      transition: 0.3s all;
  
      .sidebar-icon {
          background-color: #354D71;
          
      }
  }
}


/* .proventos {
  background-color: #D7D7D7;
  margin: 0 -40px 0 -40px;
  padding: 40px;
} */


.grafico-patrimonio, .grafico-tipo, .grafico-segmento {
  height: 350px;
  min-height: 0;
  min-width: 0;
}

.grafico-proventos {
  height: 300px;;
}

canvas {
  height: 100% !important;
    width: 100% !important;
    min-width: 0;
    overflow: hidden;
}

.card-proventos {
  grid-column: 1 / span 4;
}

.valor-segmento-fii {
  grid-column: 1 / span 2;
}

.valor-segmento-acao {
  grid-column: 3 / span 2;
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 1280px) {
  
  /* CSS */
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  aside {
    display: none;
  }
  main {
    width: 100%;
  }

  .dashboard-screen {
    .evolucao-patrimonial, .categoria-patrimonial {
      grid-column: 1 / span 4;
    }
  }

  .card-proventos {
    grid-column: 1 / span 4;
  }
  
}


@media (min-width: 480px) and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .dashboard-screen {
    .evolucao-patrimonial, .categoria-patrimonial {
      grid-column: 1 / span 2;
    }
  }

  .card-proventos, .valor-segmento-fii, .valor-segmento-acao {
    grid-column: 1 / span 2;
  }

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 480px) {
  
  /* CSS */
  aside {
    display: none;
  }
  main {
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .dashboard-screen {
    .evolucao-patrimonial {
        grid-column: auto;
    }
  }

  .card-proventos, .valor-segmento-fii, .valor-segmento-acao {
    grid-column: auto;
  }
}
